.section-what-we-do {
    padding: 15rem 0;
    background-color: $color-cyan-light;
}

.section-working-list {
    padding: 15rem 0;
    background-color: $color-white;
}

.section-background-color {
    padding: 15rem 0;
    background-color: $color-yellow;
}

.section-service {
    margin-top: -14rem;
}
.paper {
    padding: 15rem 20rem;
    background-color: $color-white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    @include addMediaQuery(tablet) {
        padding: 5rem 3rem;
    }
}